/* ---------------------------------------------------------------------------
 *  FILE:        Styles.css
 *  DESCRIPTION: Global Stylesheet for www.bodhilinux.com
 *  AUTHORS:     Jason Peel, Ken LaBuda, et al, Joris van Dijk.
 *  MODIFIED:    2010-11-29
 * ---------------------------------------------------------------------------
 
 
 NOTE THAT THIS FILE DIFFERS FROM THE ORIGINAL CLEARFIX, H6 AND H7 HEADERS ADDED FOR THE SAKE OF THE GUIDE!
 
 
 *  TABLE of CONTENTS:
 *  - GLOBAL
 *    - Headers
 *    - Tables
 *    - Links
 *    - Buttons
 *    - Lists
 *    - Quotes
 *    - Classes
 *      - mainlink
 *      - menu
 *  - WRAPPERS
 *  - LOGO
 *  - CONTENT
 *    - SLIDER1
 *    - MAINCONTENT
 *      - NEWSFEED
 *  - DLBTN
 *  - IRCBTN
 *  - FORUMBTN
 *  - FBTag
 *  - MAINCOLS
 *    - Headers
 *  - FOOTER
 *    - Headers
 *    - Footercols
 *  - COPYRIGHT
 *
 * ---------------------------------------------------------------------------
 *  NOTES:
 *    - Don't forget to set a foreground and background color on
 *       the 'html' or 'body' element!
 *    - Discuss any ISSUE tags cited in code
 * ----------------------------------------------------------------------------
 */
/* ----------------------------------------------------------------------------
 *  GLOBAL
 * ----------------------------------------------------------------------------
 */ @charset "UTF-8";

@font-face {
    font-family: "ubuntu";
    src: url('font/ubuntu-r-webfont.eot');
    src: local('ubuntu'),
	 url('font/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ubuntu-r-webfont.woff') format('woff'),
         url('font/ubuntu-r-webfont.ttf') format('truetype'),
         url('font/ubuntu-r-webfont.svg#UbuntuRegular') format('svg');
}

:root {
    --bg: #ffffff;
    --raised-bg: #dddddd;
    --fg: #000000;
    --accent: #419236;
    --link-color: #333333;
    --tr-odd: #dddddd;
    --tr-even: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #333333;
        --raised-bg: #555555;
        --fg: #ffffff;
        --accent: #61b955;
        --link-color: #cccccc;
        --tr-odd: #555555;
        --tr-even: #666666;
    }
}

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: "ubuntu", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.25;
}

img {
	padding:20px
}

/* ----------------------------------------------------------------------------
 * GLOBAL &gt; HEADERS
 * ----------------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
}

/* ----------------------------------------------------------------------------
 *  GLOBAL &gt; TABLES
 * ----------------------------------------------------------------------------
 */
table {
    /* border: 1px solid var(--fg); */
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 5em;
}

th, td {
    padding: 0.5em;
    /* border: 1px solid var(--fg); */
    font-weight: inherit;
    font-style: inherit;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
}

th {
    border-bottom: 2px solid var(--fg);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--tr-even);
}
tr:nth-child(odd) {
    background-color: var(--tr-odd);
}

/* ----------------------------------------------------------------------------
 *  GLOBAL &gt; CLASSES
 * ----------------------------------------------------------------------------
 */
a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 2px solid var(--link-color);
    margin-left: 0.5em;
    padding-left: 1em;
    font-style: italic;
}

code {
    border: 1px solid var(--raised-bg)
}

pre {
    color: var(--fg);
    border: 1px solid var(--raised-bg);
    border-radius: 0.2em;
    padding: 0.5em;
}

img {
    width: 50%;
}

/* ----------------------------------------------------------------------------
 *  CONTENT
 * ----------------------------------------------------------------------------
 */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 2em 10vw;
    color: var(--fg);
    height: auto;
    display: block;
}

header {
    background: var(--raised-bg);
    padding: 1.2em 5vw;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: var(--fg);
    border: none;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    background: var(--raised-bg);
    padding: 1.2em 5vw;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------------------------------------
 *  CONTENT &gt; MAINCONTENT
 * ----------------------------------------------------------------------------
 */

h1 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 2em;
    margin-bottom: 1.2em;
    padding: 0.4em 0;
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

h2 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 1.75em;
    margin-bottom: 1.2em;
    padding: 0.4em 0;
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

h3 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 1.6em;
    margin-bottom: 1em;
    padding: 0.4em 0;
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

h4 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 1.4em;
    margin-bottom: 1em;
    padding-top: 0.8em;
    color: var(--accent);
}

h5 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 1.2em;
    margin-bottom: 1em;
    padding-top: 0.8em;
}

h6 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 1.05em;
    margin-bottom: 1em;
    padding-top: 0.8em;
    color: var(--accent);
}

/* ----------------------------------------------------------------------------
 *  ADDITIONS &gt; CODE TAGS
 * ----------------------------------------------------------------------------
 */
.box{
   display:box;
   border: 1px;
   border-style:solid;
   border-color:#000;
   padding: 3px;
   margin:5px;
   background-color:var(--accent);
}

/* ----------------------------------------------------------------------------
 *  ORDERED LISTS
 * ----------------------------------------------------------------------------
 */

li {
    font-size: 1em;
    margin: 0 0 0 2em;
}

ol li {
    list-style: decimal-leading-zero;
}

ol.contents {
    font-size: 1.5em;
}

li span {
    font-size: 0.25em;
}